<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Booking</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- End Bootstrap -->

</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="col-4">
				<h1>Booking</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row" id="Form" style="display: none;">
			<input id="name" type="text" placeholder="Name">
			<input id="email" type="email" placeholder="Email">
			<input type="button" onclick="reserveTable();" value="Send">
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h2>Choose a date:</h2>
				<input type="date" id="datePicker" onchange="LoadBooking(this);" />
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<!-- {{ booking }} -->
				<div class="" style="position: relative; width: 1000px; height: 1000px; background-color: grey;">
					<script>
						reserved_tables = [];
					</script>
					{% for book in booking %}
						{% if book.reserved %}
							<script>
								reserved_tables.push({{book.table.id}});
							</script>
						{% endif %}
						<div class="text-center" id="table{{book.table.pk}}" onclick="ChooseTables({{book.table.id}});" style="position: absolute; width: {{ book.table.width }}%; height: {{ book.table.length }}%; margin-top: {{ book.table.vertical }}%; margin-left: {{ book.table.horizontal }}%; {% if book.reserved %} background-color: red; {% else %} background-color: green; {% endif %} ">
							{{book.table.number}}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<script>
		document.getElementById('datePicker').valueAsDate = new Date();
		async function LoadBooking(datePicker){
			date = datePicker.value;
			url = "{% url 'booking:api-list' %}"+"?date="+date;
			let response = await fetch(url);
			let data = await response.json();
			reserved_tables = [];
			for (const index in data) {
				table = data[index];
				let color;
				if (table['reserved']) {
					color = "red";
					reserved_tables.push(table['table']);
				} else {
					color = "green";
				}
				document.getElementById("table"+table['table']).style.backgroundColor = color;
			}
			console.log(reserved_tables);
		}

		var tables = []
		function ChooseTables(table_id) {
			if (reserved_tables.includes(table_id)) {
				alert("Table already reserved");
				return false;
			}
			if (tables.includes(table_id)) {
				tables = tables.filter(function(value, index, arr){ return value != table_id;});
				document.getElementById("table"+table_id).style.backgroundColor = 'green';	
			} else {
				tables.push(table_id);
				document.getElementById("table"+table_id).style.backgroundColor = 'blue';
			}

			if (tables.length == 0) {
				document.getElementById("Form").style.display = "none";
			} else {
				document.getElementById("Form").style.display = "block";
			}
		}

		async function reserveTable(){
			date = document.getElementById("datePicker").value;
			url = "{% url 'booking:reserve' %}";
			name = document.getElementById("name").value;
			email = document.getElementById("email").value;
			let response = await fetch(url, {
				method: 'POST',
				headers: {
				    'Content-Type': 'application/json;charset=utf-8'
				},
				body: JSON.stringify({
					date: date,
					tables: tables,
					name: name,
					email: email
				})
			});
			let status = await response.status;
			if (status == 200) {
				for (const index in tables) {
					table = tables[index];
					document.getElementById("table"+table).style.backgroundColor = 'red';
				}
				alert("Success");
				document.getElementById("Form").style.display = "none";
			} else {
				alert("Something goes wrong!");
			}
		}
	</script>
</body>
</html>